{% extends 'base.html' %}
{% block content %}
<main id="app">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Wallets</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                "เก็บเงินเพื่อความมั่นคง ดีกว่าเก็บเงินเพื่อฟุ่มเฟือย"
            </div>
            {% if not user.is_authenticated %}
            <button type="button" class="btn fw-semibold btn-dark text-uppercase w-100 mt-3" data-bs-toggle="modal"
                data-bs-target="#exampleModal" ref="modal-login" aria-label="login-btn">
                <i class='bx-fw bx bx-log-in'></i>Login
            </button>
            {% else %}
            <button type="button" class="btn fw-semibold btn-warning text-capitalize w-100 mt-3" data-bs-toggle="modal"
                data-bs-target="#newWallet" aria-label="create-wallet-btn">
                <i class='bx-fw bx bx-wallet'></i>New Wallet
            </button>
            <a href="{% url 'logout' %}" class="btn fw-semibold btn-outline-danger text-uppercase w-100 mt-3" aria-label="logout-btn">
                <i class='bx-fw bx bx-log-out'></i>Logout
            </a>
            {% endif %}

        </div>
    </div>

    <!-- Modal login -->

    <!--  -->
    <div class="modal fade modal-md" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Login as Admin</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Username"
                            v-model="username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                            v-model="password">
                        <label for="floatingPassword">Password</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" @click="loginSubmit($event)" class="btn btn-dark">Login</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade " id="newWallet" tabindex="-1" aria-labelledby="newWalletLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newWalletLabel">Create new Wallet</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="" id="" class="form-control form-control-lg mt-3" placeholder="Name"
                        v-model="name">
                    <select class="form-select form-select-lg mt-3" v-model="type">
                        <option value="1">เงินสด</option>
                        <option value="2">บัญชี</option>
                        <option value="3">ผสม</option>
                    </select>
                    <textarea name="" id="" cols="30" rows="3" class="form-control mt-3" placeholder="Description"
                        v-model="desc"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" @click="createWallet($event)" class="btn btn-primary">Create Wallet</button>
                </div>
            </form>
        </div>
    </div>

    <section id="header" class=" shadow-sm bg-warning text-dark py-3 sticky-top rounded-bottom-4">
        <!-- container -->
        <div class="container pt-3">
            <!-- head -->
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 text-dark">
                {% if user.is_authenticated %}
                <a href="admin/" class="btn px-0 fw-semibold text-uppercase">
                    <i class='bx-fw bx bx-user bx-md'></i>{{user.username}}
                </a>
                {% else %}
                <a  class="btn px-0 fw-semibold text-uppercase">
                    <i class='bx-fw bx bx-user bx-md'></i>Anonymous
                </a>
                {% endif %}
                <button class="btn px-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample" aria-label="menu-btn">
                    <i class="bx bx-md bx-menu"></i>
                </button>
            </div>
            <!-- header -->
            <div class="d-flex flex-row align-items-center justify-content-start opacity-0" >
                <div class=" badge bg-dark fw-light">wallet name</div>
            </div>
            <!-- balance -->
            <div class="row row-cols-1 row-cols-lg-2 mx-auto p-0 g-1 mt-3 text-white">
                <div class="col p-0">
                    <div class="row row-cols-2 mx-auto p-0 g-0">
                        <div class="col pe-1 ps-0">
                            <div class="rounded-3 bg-dark balance" style="height: 60px;">
                                <i class='bx-md bx bx-money'></i>
                                <span class="fw-semibold fs-3">[{process.cash}] ฿</span>
                            </div>
                        </div>
                        <div class="col ps-1 pe-0 pe-lg-1">
                            <div class="rounded-3 bg-dark balance" style="height: 60px;">
                                <i class='bx-md bx bxs-bank'></i>
                                <span class="fw-semibold fs-3">[{process.bank}] ฿</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col p-0 ps-lg-1">
                    <div class="rounded-3 bg-dark balance" style="height: 60px;">
                        <i class='bx bx-coin-stack bx-md'></i>
                        <span class="fw-semibold fs-3">[{process.total}] ฿</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
    <section id="wallet-list" class="py-2">
        <div class="container">
            <div class="">
                <div v-for="(item, index) in wallets" :key="index" class="row row-cols-1 mx-auto">
                    <div class="col ">
                        <div class="row mx-auto py-3 g-0">
                            <div class="col-7">
                                <a :href="`wallet/${item.id}`" class="nav-link" style="white-space: nowrap;">
                                    <i class='bx-fw bx-wallet bx bx-md'></i>[{item.name}]
                                </a>
                            </div>
                            <div class="col-2">
                                <span v-if="item.type == 1" class=" badge bg-danger">เงินสด</span>
                                <span v-if="item.type == 2" class=" badge bg-danger">เงินธนาคาร</span>
                                <span v-if="item.type == 3" class=" badge bg-danger">ผสม</span>
                            </div>
                            <div class="col-3">
                                <h3 class="text-end fw-semibold">[{item.amount}] ฿</h3>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
<!--  -->
{% block script %}
<script>




    const { createApp } = Vue;
    const app = createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {
                    name: "admin",
                    wallets: null,

                    username: "",
                    username_isValid: true,
                    password: "",
                    password_isValid: true,
                    process: {
                        cash: 0,
                        bank: 0,
                        total: 0
                    },

                    name: "",
                    type: 1,
                    desc: "",

                    isValid: true
                };
            },
            mounted() {
                {% if not user.is_authenticated %}
                this.$refs['modal-login'].click();
                {% endif %}
                axios(
                    {
                        method: "get",
                        url: "{% url 'read-wallet-api' %}"
                    }
                ).then((response) => {
                    if (response.status == 200) {
                        this.wallets = response.data['wallet'];
                        this.process = response.data['process']
                    }
                });
            },
            methods: {
                loginSubmit(e) {
                    e.preventDefault();

                    this.isValid = true;
                    this.username_isValid = true;
                    if (this.username == "") {
                        this.username_isValid = false;
                        this.isValid = false;
                    }
                    this.password_isValid = true;
                    if (this.password == "") {
                        this.password_isValid = false;
                        this.isValid = false;
                    }

                    if (this.isValid) {
                        const form_data = new FormData;
                        form_data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                        form_data.append('username', this.username);
                        form_data.append("password", this.password);
                        axios(
                            {
                                method: "post",
                                url: "{% url 'login-api' %}",
                                data: form_data
                            }
                        )
                            .then((response) => {
                                if (response.status == 200) {
                                    location.reload();
                                }
                            });
                    }
                },
                createWallet(e) {
                    e.preventDefault();

                    let isValid = true;
                    if (this.name == "") {
                        isValid = false;
                    }

                    if (isValid) {
                        const form_data = new FormData;
                        form_data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                        form_data.append("name", this.name);
                        form_data.append("type", this.type);
                        form_data.append("desc", this.desc);

                        axios(
                            {
                                method: "post",
                                url: "{% url 'create-wallet-api' %}",
                                data: form_data
                            }
                        )
                            .then((response) => {
                                if (response.status == 201) {
                                    Swal.fire({
                                        title: "Created!",
                                        text: "Create Wallet success!",
                                        icon: "success"
                                    });
                                    setTimeout(() => {
                                        location.reload();
                                    }, 1000);
                                }
                            });
                    }
                }
            }
        }
    );
    app.mount('#app')
</script>
{% endblock script %}