{% extends 'base.html' %}
{% block content %}
<main id="app">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Wallet</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                "เก็บเงินก่อนใช้ ดีกว่าใช้ก่อนเก็บ"
            </div>
            {% if not user.is_authenticated %}
            <button type="button" class="btn fw-semibold btn-dark text-uppercase w-100 mt-3" data-bs-toggle="modal"
                data-bs-target="#exampleModal" ref="modal-login" aria-label="login-btn">
                <i class='bx-fw bx bx-log-in'></i>Login
            </button>
            {% else %}
            <button type="button" class="btn fw-semibold btn-warning text-dark text-capitalize w-100 mt-3"
                data-bs-toggle="modal" data-bs-target="#transaction" aria-label="create-transaction-btn">
                <i class='bx-fw bx bx-plus'></i>Transaction
            </button>
            <a href="{% url 'logout' %}" class="btn fw-semibold btn-outline-danger text-uppercase w-100 mt-3"
                aria-label="logout-btn">
                <i class='bx-fw bx bx-log-out'></i>Logout
            </a>
            {% endif %}
        </div>
    </div>
    <!-- info -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Infomation" ref="information-btn" hidden>
        Launch demo modal
    </button>
    <!--  -->
    <div class="modal fade" id="Infomation" tabindex="-1" aria-labelledby="InfomationLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="InfomationLabel">[{information.name}]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-2 mx-auto">
                        <div class="col">
                            <i class='bx-fw bx bx-money'></i> [{information.amount}] ฿
                        </div>
                        <div class="col">
                            <i  class='bx-fw bx bxs-coin'></i><span v-if="information.type == 1" class=" badge bg-dark">รายรับ</span>
                            <span v-if="information.type == -1" class=" badge bg-dark">รายจ่าย</span>
                        </div>
                    </div>
                    <br>
                    <div class="row row-cols-1 mx-auto">
                        <div class="col">
                            <i class='bx-fw bx bxs-calendar'></i> [{new Date(information.date ).toLocaleString('en-GB', { timeZone: 'Asia/Bangkok' })}]
                        </div>
                    </div>
                    <br>
                    <div class="row row-cols-1 mx-auto">
                        
                        <div class="col">
                            <i class='bx-fw bx bxs-user-rectangle'></i> [{information.writer}]
                        </div>
                    </div>
                    <br>
                    <div class="row row-cols-1 mx-auto">
                        <div class="col">
                            <i class='bx-fw bx bx-book-content'></i> [{information.remark}]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <div class="modal fade " id="transaction" tabindex="-1" aria-labelledby="transactionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="transactionLabel">Transaction</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control form-control-lg mt-3" placeholder="Name" v-model="name">
                    <input type="number" class="form-control form-control-lg mt-3" placeholder="Amount"
                        v-model="amount">
                    <select class="form-select form-select-lg mt-3" v-model="type">
                        <option value="1">รายรับ</option>
                        <option value="-1">รายจ่าย</option>
                    </select>
                    <input type="datetime-local" class="form-control form-control-lg mt-3" v-model="date">
                    <textarea name="" id="" cols="30" rows="3" class="form-control form-control-lg mt-3"
                        v-model="remark"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" @click="createTransaction($event)" class="btn btn-dark">Create</button>
                </div>
            </form>
        </div>
    </div>

    <section id="header" class=" shadow-sm bg-warning text-dark py-3 sticky-top rounded-bottom-4">
        <!-- container -->
        <div class="container pt-3">
            <!-- head -->
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 text-dark">

                {% if user.is_authenticated %}
                <a href="/admin/" class="btn px-0 fw-semibold text-uppercase">
                    <i class='bx-fw bx bx-user bx-md'></i>{{user.username}}
                </a>
                {% else %}
                <a href="{% url 'index-page' %}" class="btn px-0 fw-semibold text-uppercase">
                    <i class='bx-fw bx bx-user bx-md'></i>Anonymous
                </a>
                {% endif %}

                <button class="btn px-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample" aria-label="menu-btn">
                    <i class="bx bx-md bx-menu"></i>
                </button>
            </div>
            <!-- header -->
            <div class="d-flex flex-row align-items-center justify-content-start">
                <div class=" badge bg-dark fw-light">{{wallet.name}}</div>
            </div>
            <!-- balance -->
            <div class="row row-cols-1 row-cols-lg-2 mx-auto p-0 g-1 mt-3 text-white">
                <div class="col p-0">
                    <div class="row row-cols-2 mx-auto p-0 g-0">
                        <div class="col pe-1 ps-0">
                            <div class="rounded-3 bg-dark balance" style="height: 60px;">
                                <i class='bx-md bx bx-coin-stack'></i>
                                <span class="fw-semibold fs-3">[{amount.income}] ฿</span>
                            </div>
                        </div>
                        <div class="col ps-1 pe-0 pe-lg-1">
                            <div class="rounded-3 bg-dark balance" style="height: 60px;">

                                <i class='bx-md bx bx-coin'></i>
                                <span class="fw-semibold fs-3">[{amount.expenses}] ฿</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col p-0 ps-lg-1">
                    <div class="rounded-3 bg-dark balance" style="height: 60px;">
                        <i class='bx bx-wallet-alt bx-md'></i>
                        <span class="fw-semibold fs-3">[{amount.balance}] ฿</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
    <section id="wallet-list" class="py-2">
        <div class="container">
            <div class="">
                <div v-for="(item, index) in transactions" :key="index" class="row row-cols-1 mx-auto" @click="Information(index)">
                    <div class="col ">
                        <div class="row mx-auto py-3 g-0">
                            <div class="col-7">
                                <p class="fs-6" style="white-space: nowrap;">
                                    <i class='bx-fw bx-money-withdraw bx bx-md'></i>[{item.name}]
                                </p>
                            </div>
                            <div class="col-2">
                                <span v-if="item.type == 1" class=" badge bg-dark">รายรับ</span>
                                <span v-if="item.type == -1" class=" badge bg-dark">รายจ่าย</span>
                            </div>
                            <div class="col-3">
                                <p class="text-end fs-6">[{item.amount}] ฿</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
<!--  -->
{% block script %}
<script>
    const { createApp } = Vue;
    const app = createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {
                    name: "hello",
                    wallet_id: "{{wallet.id}}",
                    transactions: null,

                    amount: {
                        expenses: 0,
                        income: 0,
                        balance: 0
                    },

                    name: "",
                    amount: 0,
                    type: 1,
                    date: "",
                    remark: "",

                    information:{
                        name:"",
                        type:"",
                        amount:"",
                        date:"",
                        remark:"",
                        writer:""
                    }

                };
            },
            async mounted() {

                const wallet = new FormData;
                wallet.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                wallet.append("id", this.wallet_id);
                await axios(
                    {
                        method: "post",
                        url: "{% url 'read-id-transaction-api' %}",
                        data: wallet
                    }
                ).then((response) => {
                    console.log(response.data);
                    if (response.status == 200) {
                        this.transactions = response.data['transaction'];
                        this.amount = response.data['amount'];
                    }
                });
            },
            methods: {
                createTransaction(e) {
                    e.preventDefault();

                    let isValid = true;
                    if (this.name == "") {
                        isValid = false;
                    }
                    if (this.amount == 0) {
                        isValid = false;
                    }
                    if (this.type == 0) {
                        isValid = false;
                    }


                    if (isValid) {
                        const form_data = new FormData;
                        form_data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                        form_data.append("wallet", this.wallet_id);
                        form_data.append("name", this.name);
                        form_data.append("amount", this.amount);
                        form_data.append("type", this.type);
                        form_data.append("date", this.date);
                        form_data.append("remark", this.remark);

                        this.name = "";
                        this.amount = 0;
                        this.type = 1;
                        this.date = "";
                        this.remark = "";

                        axios(
                            {
                                method: "post",
                                url: "{% url 'create-transaction-api' %}",
                                data: form_data
                            }
                        )
                            .then((response) => {
                                if (response.status == 201) {
                                    Swal.fire({
                                        title: "Created!",
                                        text: "Create transaction success!",
                                        icon: "success"
                                    });
                                    setTimeout(() => {
                                        location.reload();
                                    }, 1000);
                                }
                            });
                    }
                },
                Information(index){

                    this.information.name = this.transactions[index].name
                    this.information.type = this.transactions[index].type
                    this.information.amount = this.transactions[index].amount
                    this.information.date = this.transactions[index].date
                    this.information.writer = this.transactions[index].writer
                    this.information.remark = this.transactions[index].remark


                    this.$refs['information-btn'].click()
                }
            }
        }
    );
    app.mount('#app')
</script>
{% endblock script %}